---
import ItemCard from '@/components/ItemCard.astro';
import { SearchBox } from '@/components/SearchBox';
import Layout from '@/layouts/Layout.astro';
import { fetchItems } from '@/services/item_service';
export const prerender = true;
const items = await fetchItems();
---

<Layout title="ペット一覧">
  <h1>ペット一覧</h1>
  <div class="m-4">
    <SearchBox client:only="react" />
  </div>

  <ul class="grid grid-rows-4 grid-flow-col gap-4">
    {
      items.map((item) => (
        <li>
          <ItemCard item={item} />
        </li>
      ))
    }
  </ul>
</Layout>
