---
import Layout from '@/layouts/Layout.astro';
import { login } from '@/services/auth_service';
import { LoginFormSchema } from '@/types/auth_type';

if (Astro.request.method === 'POST') {
  const data = await Astro.request.formData().then((data) => {
    const r: Record<string, string> = {};
    for (const [key, value] of data.entries()) {
      r[key] = value.toString();
    }
    return r;
  });
  const parsed = LoginFormSchema.safeParse(data);
  if (parsed.success) {
    const isSuccess = await login(Astro.cookies, {
      email: parsed.data?.email,
      password: parsed.data?.password,
    });
    if (isSuccess) {
      Astro.redirect('/items');
    }
  }
}
---

<Layout title="ログイン画面">
  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button>ログイン</button>
  </form>
</Layout>
