---
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from '@/components/ui/table';
import items from '@/services/items.json';
import Layout from '../layouts/Layout.astro';
const id = Astro.locals.anonymous;
console.log(id);
// const cart = await fetchCart(id);
---

<Layout title="カート画面">
  <Table>
    <TableHeader>
      <TableRow>
        <TableHead className="w-[100px]">商品</TableHead>
        <TableHead>追加オプション</TableHead>
        <TableHead>価格</TableHead>
        <TableHead className="text-right">小計</TableHead>
        <TableHead />
      </TableRow>
    </TableHeader>
    <TableBody>
      {
        items.map((item) => (
          <TableRow>
            <TableCell className="font-medium">{item.breed}</TableCell>
            <TableCell>ワクワクセット</TableCell>
            <TableCell>{item.price}</TableCell>
            <TableCell className="text-right">{item.price}</TableCell>
            <TableCell>
              <button>削除</button>
            </TableCell>
          </TableRow>
        ))
      }
    </TableBody>
  </Table>
  <button>注文に進む</button>
</Layout>
