---
import Layout from '@/layouts/Layout.astro';
const user = {
  id: 'generated-uuid-1',
  firstname: 'Taro',
  lastname: 'Yamada',
  email: 'taro.yamada@example.com',
  zipcode: '123-4567',
  prefecture: 'Tokyo',
  municipalities: 'Shibuya',
  address: 'Shibuya 1-1-1',
  telephone: '090-1234-5678',
  created_at: '2024-06-20T00:00:00Z',
  updated_at: '2024-06-20T00:00:00Z',
};
---

<Layout title="マイページ">
  お名前:{user.lastname}{user.firstname}
  <br />
  eメール:{user.email}
  <br />
  <a href="">注文履歴</a>
</Layout>
