---
import type { Item } from '@/types/item_types';

interface Props {
  item: Item;
}

const { item } = Astro.props;
---

<div
  class="relative m-10 flex w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md"
>
  <a href={'/items/' + item.id}>
    <div class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl">
      <img
        transition:name={item.id}
        class="object-cover"
        src={'/img/' + item.image}
        alt="item_image"
        onerror="this.src='images/no_data.png'"
      />
      {
        item.gender == 'male' ? (
          <span class="absolute top-0 left-0 m-2 rounded-full bg-blue-400 px-2 text-center text-sm font-medium text-white">
            男の子
          </span>
        ) : (
          <span class="absolute top-0 left-0 m-2 rounded-full bg-red-400 px-2 text-center text-sm font-medium text-white">
            女の子
          </span>
        )
      }
      {
        item.deleted == true && (
          <span class="absolute top-7 left-0 m-2 rounded-full bg-red-600 px-2 text-center text-sm font-medium text-white">
            飼い主様が決まりました!
          </span>
        )
      }
    </div>
    <div class="mt-4 px-5 pb-5">
      <h5 class="text-xl tracking-tight text-slate-900 flex justify-center">
        {item.breed.name}
      </h5>
      <p>
        <span class="text-base text-slate-600 flex justify-center"
          >{item.description}</span
        >
      </p>
      <div class="mt-2 mb-5 flex items-center justify-around">
        <p>
          <span class="text-base font-bold text-slate-900">うまれた日</span>
        </p>
        <p>
          <span class="text-xl font-bold text-slate-900"
            >{item.birthDay.toLocaleDateString()}</span
          >
        </p>
      </div>
      <div class="mt-2 mb-5 flex items-center justify-around">
        <p>
          <span class="text-base font-bold text-slate-900">生体価格</span>
        </p>
        <p>
          <span class="text-xl font-bold text-slate-900"
            >￥{new Intl.NumberFormat().format(item.price)}</span
          >
        </p>
      </div>
    </div>
  </a>
</div>
