---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
  showFooter?: boolean;
}

const { title, showFooter = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="font-m-plus-rounded-1c bg-stone-100 flex flex-col min-h-screen">
    <Header />
    <slot flex-grow p-4 />
    <style>
      body {
        background-color: #f9fafb;
      }
    </style>
    {showFooter && <Footer />}
  </body>
</html>
